{% if anomaly == constant('App\\Service\\PatientAnomaly::ANOMALY_NO_CARE_REQUEST') %}
    {% set message = 'patient_anomaly.patient_without_care_request' %}
{% elseif anomaly == constant('App\\Service\\PatientAnomaly::ANOMALY_NO_AVAILABILITY') %}
    {% set message = 'patient_anomaly.patient_without_availability' %}
{% endif %}

<li class="list-group-item list-group-item-action">
    <a href="{{ url('patient', {id: patient.id}) }}" class="text-reset text-decoration-none">
        <span class="patient">{{ patient.displayName }}</span> {{ message|trans }}
    </a>
</li>