@mixin form-margin {
    div.row {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0.7rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    div {
        margin-top: auto;
        margin-bottom: auto;
    }

    .form-control, .form-check-input {
        @include media-breakpoint-down(lg) {
            margin-bottom: 0.5rem;
        }
    }
}