// $primary: #d9ee19;
$body-bg: rgb(241, 241, 241);

$input-bg: white;


$accordion-bg: white;
$accordion-icon-active-color: #000;

.container {
    padding-top: 75px;
}

@import '~bootstrap/scss/bootstrap';