body {
    padding-bottom: 1rem;
}


.navbar {
    .avatar {
        max-width: 50px;
        max-height: 50px;
    }
}

.body-content {
    // padding-top: 70px; si navbar est fixed-top
    padding-top: 1rem;
}

h2::first-letter {
    text-transform: capitalize;
}