$mention-bg: rgb(230, 230, 230);

li.comment {
    transition: opacity 0.5s linear;
}

div.note-editable {
    span.mention {
        background-color: $mention-bg;
    }
}

.comment-body {
    span.mention {
        background-color: $mention-bg;
    }
}