@import './bootstrap';
@import './mixin';

.submit-form-group {
    @include media-breakpoint-up(lg) {
        text-align: right;
    }
}

.patient-content {
    .identity-section {
        form {
            @include form-margin;
            
            .form-content {
                columns: 1;
                
                margin-bottom: 0.7rem;

                @include media-breakpoint-up(lg) {
                    columns: 2;
                }
            }
        }
    }

    .care-request-section {
        form {
            @include form-margin;
            
            .form-content {
                columns: 1;

                margin-bottom: 0.7rem;

                @include media-breakpoint-up(lg) {
                    columns: 2;
                }
            }
        }

        ul.comments {
            margin-top: 0.8rem;
            padding: 0;
            list-style-type: none;
            
            
            li.comment {
                margin-top: 30px;
                
                article {
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                menu {
                    padding: 0;
                    margin-bottom: 2px;
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
            
            article {
                margin: 0.5rem 0;
            }
        }
    }
}