@import '~bootstrap/scss/bootstrap';
@import './mixin.scss';

.patient-content {
    .identity-section {
        form {
            @include form-margin;
        }
    }

    .care-request-section {
        form {
            .form-group {
                @include media-breakpoint-up(lg) {
                    text-align: right;
                }
            }

            button[type="submit"] {
                margin-bottom: 1rem;
            }
            
            @include form-margin;
        }

        ul.comments {
            margin-top: 0.8rem;
            padding: 0;
            list-style-type: none;
            
            
            li {
                transition: all 0.5s linear;
                margin-top: 30px;
                
                article {
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                menu {
                    padding: 0;
                    margin-bottom: 2px;
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
            
            article {
                margin: 0.5rem 0;
            }
        }
    }
}