.vich-image {
    display: flex;

    input[type="file"] {
        margin-right: 10px;
    }
    
    a {
        margin-top: auto;
        margin-bottom: auto;
        
        img {
            max-width: 50px;
            max-height: 50px;
        }
    }
    a:first-of-type {
        margin-left: 1rem;
    }
}