{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>
    <ul>
        {% for office in offices %}
            <li>
                {{ office.name }}
                <ul>
                    {% for doctor in office.doctors %}
                        <li><a href="{{ url('search', { _switch_user: doctor.userIdentifier }) }}">{{ doctor.displayName }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}